body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;

  color: #333;
  background-color: #334c54;
  color: beige;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  position: absolute;
  background: linear-gradient(to top, #233338 0%, #2f4c54 100%);
  padding: 25px;
  text-align: center;
  width: 100%;
  top: 0px;
  left: 0px;
}

header h1 {
  font-size: 2.8em;
  color: beige;
  font-weight: bold;
  font-family: "Lato", sans-serif;
  text-shadow: 5px 5px 5px #243236;
  top: 4px;
}

h1 {
  text-align: center;
  color: beige;
}

table {
  color: beige;
  border: 1px black solid;
  width: 70%;
  border-collapse: collapse;
  margin: 30px auto;
  font-family: Arial, sans-serif;
  text-align: left;
  border-radius: 5px;
}
th,
td {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:hover {
  background-color: #1c292d;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-top: 10px;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: beige;
  text-shadow: 5px 5px 5px #1d2d32;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2em;
  padding: 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 5px;
}

nav ul li a:hover {
  color: rgb(149, 149, 145);
}

h2 {
  font-size: 1.7em;
  font-family: "Lato", sans-serif;
  margin-bottom: 20px;
  text-align: center;
  text-shadow: 5px 5px 5px #1d2d32;
}

p,
ul {
  font-size: 1.1em;
  font-family: "Lato", sans-serif;
  text-align: center;
}

p {
  max-width: 700px;
  margin: 0 auto 20px;
  line-height: 1.8;
}

a {
  color: rgb(163, 163, 144);
  text-decoration: none;
  font-weight: bold;
}
.displayZone {
  box-shadow: 5px 5px 5px #1d2d32;
  align-items: center;
  position: absolute;
  height: 65%;
  width: 40%;
  background-color: #222d31;
  left: 5%;
  border-radius: 10px;
  padding: 25px;
  top: 20%;
}
.buttonZone {
  box-shadow: 5px 5px 5px #1d2d32;
  top: 20%;
  position: absolute;
  height: 65%;
  width: 40%;
  background-color: #222d31;
  right: 5%;
  display: flex;
  flex-direction: column; /* Zorg ervoor dat knoppen onder elkaar staan */
  justify-content: center; /* Verticaal centreren */
  align-items: left; /* Horizontaal centreren */
  border-radius: 10px;
  padding: 25px;
}

.gameZone {
  box-shadow: 5px 5px 5px #1d2d32;
  top: 20%;
  position: absolute;
  height: 75%;
  width: 90%;
  background-color: #222d31;
  right: 5%;
  display: flex;
  flex-direction: column; /* Zorg ervoor dat knoppen onder elkaar staan */
  justify-content: center; /* Verticaal centreren */
  align-items: left; /* Horizontaal centreren */
  border-radius: 10px;
  padding: 25px;
}

img {
  border-radius: 5px;
  width: 45%;
  height: 45%;
  left: 27%;
  position: relative;
}

.portoimg {
  border-radius: 5px;
  width: 70%;
  height: 60%;
  left: 15%;
  position: relative;
}

.doelimg {
  border-radius: 5px;
  width: 70%;
  height: 60%;
  left: 15%;
  margin: 10px;
  position: relative;
}
button {
  margin: 10px;
  width: 120px;
  height: 60px;
  color: beige;
  background-color: #1d2325;
  border: beige 2px solid;
  border-radius: 5px;
  position: relative;
  left: 45%;
}

button:hover {
  background-color: #2c3233;
  cursor: pointer;
}

nav ul {
  position: relative;
}

.ull{
  list-style: none;
}

nav ul li {
  position: relative;
}

.dropdown-menu {
  font-size: medium;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: auto;
  background-color: #222d31;
  box-shadow: 5px 5px 5px #1d2d32;
  padding: 10px 0;
  list-style: none;
  border-radius: 5px;
  border: beige 1px solid;
  z-index: 10;
}

.dropdown-menu li {
  padding: 0;
  margin: 0;
}

.dropdown:hover > .dropdown-menu {
  display: block;
}
nav ul li a {
  color: beige;
  text-shadow: 5px 5px 5px #1d2d32;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2em;
  padding: 10px;
  transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
  border-radius: 5px;
  border: 2px solid transparent;
}

nav ul li a:hover {
  border: 2px solid beige;
}

.dropdown-menu li a {
  display: block;
  padding: 10px 20px;
  color: beige;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
  border-radius: 5px;
  border: 2px solid transparent;
}

.dropdown-menu li a:hover {
  background-color: #2c3233;
  color: rgb(149, 149, 145);
  border: 2px solid rgb(149, 149, 145);
}

.buttonZone-button {
  margin: 25px;
  font-size: medium;
}
.buttonZone-button1 {
  
  font-size: medium;
}